<!DOCTYPE html>
<html><link type="text/css" rel="stylesheet" id="dark-mode-custom-link"><link type="text/css" rel="stylesheet" id="dark-mode-general-link"><style type="text/css" id="dark-mode-custom-style" lang="en"></style><style type="text/css" id="dark-mode-native-style" lang="en"></style><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><style type="text/css">
	.jumbotron {
  background-repeat: no-repeat;
 }
  .backg {

  background-repeat: no-repeat;
 }
  .jumbotron .btn-primary {
    background: #992e29;
    border-color: ##370505; }
    .jumbotron .btn-primary:hover {
      background: #791712; }
  .jumbotron p {
    color: ##951f2f;;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
</style>


	<link rel="stylesheet" type="text/css" href="calamityunleashed.herokuapp.com_files/bootstrap.css">
</head>
<body>
<div class="jumbotron text-center">
  <div class="container">
    <div class="backg">
      <img src="banner.png">
    </div>
    <a href="https://calamityunleashed.herokuapp.com/" class="lang-logo">
      <img src="calamityunleashed.herokuapp.com_files/lang-logo.png">
    </a>
    <h1>Calamity Unleashed</h1>
    <p>Welcome traveler! We prepared some adventures for you! First of 
all join our Discord server, or if you want, invite our robot to yours 
to keep you in touch with our updates ^-^ </p>
    <a type="button" class="btn btn-lg btn-primary" href="https://discord.gg/vXDcpPApat"><span class="glyphicon glyphicon-flash"></span>Join Calamity Unleashed!</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://discord.com/api/oauth2/authorize?client_id=805832155648360449&amp;permissions=3664960&amp;scope=bot"><span class="glyphicon glyphicon-download"></span>Invite me!</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">THIS WEBSITE IS TEMPORARY! IT WILL BE REWORKED SOON AND THE SUBJECT WILL BE CHANGED! 
    <!--To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting ##Started on Heroku with Node.js</a> tutorial. -->
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> About our discord server</h3>
      <ul>
        <li>This is a temporary discord server intended to make things easier for our modded terraria server players.</li>

        <li>Our server is open to anyone who wants to join and make friends while playing terraria.</li>
        <li>Terraria is not the only thing to talk on our server. You can talk free about any game you like.</li>
        <li>Idk at this point i don't write anymore. This website is not serious work</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span>Some of the mods we use on our server</h3>
      <ul>
        <li>BossChecklist</li>
        <li>BothEvils</li>
        <li><code>CalamityMod</code></li>
        <li>CalamityModMusic</li>
        <li><code>ThoriumMod</code></li>
        <li><code>Fargowiltas</code></li>
        <li>SacredTools</li>
        <li>FargowiltasSouls</li>
        <li>FargowiltasSoulsDLC</li>
        <li><code>MagicStorage</code></li>
        <li>We also have some quality of life mods to make things easier:</li>
        <ul>
          <li>HamstarHelps</li>
          <li>ExtensibleInventory</li>
          <li>FKBossHealthBar</li>
          <li>MaxStackExtra</li>
          <li>MoreChestLoot</li>
          <li>PotionSellerReborn</li>
          <li>RecipeBrowser</li>
          <li>RecipeBrowserToMagicStorage</li>
          <li>TheDeconstructor</li>
          <li>VeinMiner</li>
          <li>WingSlot</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://store.steampowered.com/app/105600/Terraria/">Terraria on Steam</a></li>
        <li><a href="https://store.steampowered.com/app/1281930/tModLoader/">tModLoader on Steam</a></li>
        <li><a href="https://forums.terraria.org/index.php?threads/1-3-tmodloader-fna-32bit-64bit-branch-of-tml.75644/">tModLoader 64bit</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
   This website is under development. new things may be added in the future.
  </div>
</div>




</body></html>
