<!DOCTYPE html>
<style type="text/css">
.jumbotron {
  background-repeat: no-repeat;
 }
  .backg {

  background-repeat: no-repeat;
 }
  .jumbotron .btn-primary {
    background: #992e29;
    border-color: ##370505; }
    .jumbotron .btn-primary:hover {
      background: #791712; }
  .jumbotron p {
    color: ##951f2f;;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
</style>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
</head>
<body>
<div class="jumbotron text-center">
  <div class="container">
  	  <div class="backg">
      <img src="/banner.png">
    </div>
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Calamity Unleashed</h1>
    <p>Welcome traveler! We prepared some adventures for you! First of all join our Discord server, or if you want, invite our robot to yours to keep you in touch with our updates ^-^ </p>
    <a type="button" class="btn btn-lg btn-primary" href="https://discord.gg/vXDcpPApat"><span class="glyphicon glyphicon-flash"></span>Join Calamity Unleashed!</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://discord.com/api/oauth2/authorize?client_id=805832155648360449&permissions=3664960&scope=bot"><span class="glyphicon glyphicon-download"></span>Invite me!</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">THIS WEBSITE IS TEMPORARY! IT WILL BE REWORKED SOON AND THE SUBJECT WILL BE CHANGED! 
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> About our discord server</h3>
      <ul>
        <li>This is a temporary discord server intended to make things easier for our modded factorio server players.</li>

        <li>Our server is open to anyone who wants to join and make friends while playing factorio.</li>
        <li>Factorio is not the only thing to talk on our server. You can talk free about any game you like.</li>
        <li>Idk at this point i don't write anymore. This website is not serious work</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span>Some of the mods we use on our server</h3>
      <ul>
        <li>AAI Industry</li>
	<li>AAI Signal Transmission</li>
	<li>AAI Signals</li>
	<li>Afraid Of The Dark (enforced personal lights + more)</li>
	<li>Alien Biomes</li>
	<li>Alien Biomes High-Res Terrain</li>
	<li>Armoured Biters</li>
	<li>Artillery Bombardment Remote</li>
	<li>Auto Deconstruct</li>
	<li>Auto Research (fixed + re-published)</li>
	<li>Auto Trash</li>
	<li>Automatic Train Painter</li>
	<li>Base Mod</li>
	<li>Belt Balancer</li>
	<li>Big Brother</li>
	<li>Bob's Adjustable Insterters mod</li>
	<li>Bob's Enemies Mod</li>
	<li>Bottleneck</li>
	<li>Bullet Trails</li>
	<li>Cold Biters</li>
	<li>Combat mechanics overhaul</li>
	<li>Double Speed Belts</li>
	<li>Enhanced Map Controls</li>
	<li>Even Distribution</li>
	<li>EvoGUI - Evolution Factor Indicator and more</li>
	<li>Explosive Biters</li>
	<li>Factory Planner</li>
	<li>FNEI</li>
	<li>Hiladdar's Research</li>
	<li>Inbuilt Lighting</li>
	<li>Infinite Technologies</li>
	<li>Informatron</li>
	<li>Jetpak</li>
	<li>Krastorio 2</li>
	<li>Krastorio 2 - Additional Locomotoves</li>
	<li>Krastorio 2 Rocket Fuel in Advanced Chemical Plant</li>
	<li>Krastorio2 and Space Exploration - various tweaks</li>
	<li>Larkenx's Krastorio2 and Space Exploration Tweaks</li>
	<li>Long and Far Reach</li>
	<li>Lovely _santa's library of knowledge</li>
	<li>Max Rate Calculator</li>
	<li>Miner UPSGrade</li>
	<li>Miniloader</li>
	<li>MOAR Infinite Research</li>
	<li>Module Inserter</li>
	<li>Nanobots: Early Bots</li>
	<li>Nightfall</li>
	<li>Picker Atheneum</li>
	<li>Picker Belt Tools</li>
	<li>Picker Blueprinter</li>
	<li>Picker Dollies</li>
	<li>Picker Extended</li>
	<li>Picker Inventory Tools</li>
	<li>Picker Tweaks</li>
	<li>Picker Vehicles</li>
	<li>Quality of Life research</li>
	<li>Rampant Flashlight</li>
	<li>Realistic Flashlight</li>
	<li>Reinforced Walls</li>
	<li>Reverse Factory</li>
	<li>Robot Attrition</li>
	<li>Shortcuts for 1.1</li>
	<li>Space Exploration</li>
	<li>Space Exploration Graphics (Required)</li>
	<li>Space Exploration Postprocess (Required)</li>
	<li>Spidertron Extended</li>
	<li>Squeak Through</li>
	<li>Text Plates</li>
	<li>Tree Collision</li>
	<li>Upgrade Builder and Planner</li>
	<li>VehicleSnap</li>
	<li>Walls Block Spitters</li>
	<li>Warehousing Mod</li>
	<li>Water Well (pump free water from the ground)</li>
	<li>Waterfill</li>
	<li>Where is MyBody</li>
	<li>YARM - Resource Monitor</li>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://store.steampowered.com/app/427520/Factorio/">Factorio on Steam</a></li>
        <li><a href="https://mega.nz/file/osIBXILD#BvLdEDMrRkA5wo95uFX0II5Sk_gRjxJ9BGRwlPUXeXo">Factorio from IGG (free)</a></li>
        <li><a href="https://www.radmin-vpn.com/download/Radmin_VPN_1.1.4288.10.exe">RadminVPN (required for IGG version)</a></li>
      </ul>
    </div>
  </div>
   <div class="alert alert-info text-center" role="alert">
   This website is under development. new things may be added in the future.
  </div>
</div>
</body>
</html>
