<!DOCTYPE html>
<style type="text/css">
.jumbotron {
  background-repeat: no-repeat;
 }
  .backg {

  background-repeat: no-repeat;
 }
  .jumbotron .btn-primary {
    background: #992e29;
    border-color: ##370505; }
    .jumbotron .btn-primary:hover {
      background: #791712; }
  .jumbotron p {
    color: ##951f2f;;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
</style>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
</head>
<body>
<div class="jumbotron text-center">
  <div class="container">
  	  <div class="backg">
      <img src="/banner.png">
    </div>
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Calamity Unleashed</h1>
    <p>Welcome traveler! We prepared some adventures for you! First of all join our Discord server, or if you want, invite our robot to yours to keep you in touch with our updates ^-^ </p>
    <a type="button" class="btn btn-lg btn-primary" href="https://discord.gg/vXDcpPApat"><span class="glyphicon glyphicon-flash"></span>Join Calamity Unleashed!</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://discord.com/api/oauth2/authorize?client_id=805832155648360449&permissions=3664960&scope=bot"><span class="glyphicon glyphicon-download"></span>Invite me!</a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">THIS WEBSITE IS TEMPORARY! IT WILL BE REWORKED SOON AND THE SUBJECT WILL BE CHANGED! 
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> About our discord server</h3>
      <ul>
        <li>This is a temporary discord server intended to make things easier for our modded terraria server players.</li>

        <li>Our server is open to anyone who wants to join and make friends while playing terraria.</li>
        <li>Terraria is not the only thing to talk on our server. You can talk free about any game you like.</li>
        <li>Idk at this point i don't write anymore. This website is not serious work</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span>Some of the mods we use on our server</h3>
      <ul>
        <li>BossChecklist</li>
        <li>BothEvils</li>
        <li>CalamityMod</code></li>
        <li>CalamityModMusic</li>
        <li><code>ThoriumMod (Currently disabled on our modpack)</code></li>
        <li>Fargowiltas</code></li>
        <li>SacredTools</li>
        <li>FargowiltasSouls</li>
        <li>FargowiltasSoulsDLC</li>
        <li>MagicStorage</code></li>
        <li>We also have some quality of life mods to make things easier:</li>
        <ul>
          <li>HamstarHelps</li>
          <li>ExtensibleInventory</li>
          <li>FKBossHealthBar</li>
          <li>MaxStackExtra</li>
          <li>MoreChestLoot</li>
          <li>PotionSellerReborn</li>
          <li>RecipeBrowser</li>
          <li>RecipeBrowserToMagicStorage</li>
          <li>TheDeconstructor</li>
          <li>VeinMiner</li>
          <li>WingSlot</li>
        </ul>
      </ul>
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://store.steampowered.com/app/105600/Terraria/">Terraria on Steam</a></li>
        <li><a href="https://store.steampowered.com/app/1281930/tModLoader/">tModLoader on Steam</a></li>
        <li><a href="https://forums.terraria.org/index.php?threads/1-3-tmodloader-fna-32bit-64bit-branch-of-tml.75644/">tModLoader 64bit</a></li>
      </ul>
    </div>
  </div>
   <div class="alert alert-info text-center" role="alert">
   This website is under development. new things may be added in the future.
  </div>
</div>
</body>
</html>
